.successful {
  color: green;
  background-color: lightgrey;
  margin: 10px;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
}
.error{
    color: red;
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
}
